<!-- HTML -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel de Administrador</title>
    <link rel="stylesheet" href="/stylesheets/style_admin.css">
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar">
        <div class="logo">
                <img src="/images/logo_admisend.png" alt="Logo de la aplicación">
        </div>
        <div class="nav-links">
            <a href="/logout" class="btn-logout">Cerrar sesión</a>
        </div>
    </nav>

    <!-- Sidebar -->
    <aside class="sidebar">
        <ul>
            <li><h1 id="adminH1">Panel de Administrador</h1></li>
            <li><a href="/admin" class="active">Departamentos</a></li>
            <li><a href="/adminm">Mensajes</a></li>
            <li><a href="/adminu">Usuarios</a></li>
            <li><a href="/adminr">Roles</a></li>
        </ul>
    </aside>

    <!-- Contenido -->
    <main class="content">
        <div class="containerMensaje">

            <h2 class="nombre-remitente"><b></b>Remitente: <%= resultado[0].nombre %></h2>
            <h2 class="asunto"><b>Asunto: </b><%= resultado[0].asunto %></h2>
            <h2 class="nro-memo"><b>Numero de memo:</b> <%= resultado[0].nro_memo %></h2>
            <p class="mensaje"><b>Mensaje:</b> <%= resultado[0].mensaje %></p>     
        </div>

    </main>
</body>
</html>
