/* Estilos generales */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

/* Navbar */
.navbar {
    background-color: #333;
    color: #fff;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-right: 20px;
}

.logo img{
    width: 120px;
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input[type="search"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 200px;
}

.search-bar button[type="submit"] {
    background-color: #1f73c9;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.user-info {
    margin-left: 20px;
}

/* Sidebar */
.sidebar {
    background-color: #333;
    color: #fff;
    padding: 30px;
    width: 200px;
    height: 100vh;
    position: fixed;
    margin-top: 10%;
    top: 0;
    left: 0;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar li {
    margin-bottom: 40px;
}

.sidebar a {
    color: #fff;
    text-decoration: none;
}

.sidebar a.active {
    background-color: #1f73c9;
    padding: 10px;
    border-radius: 5px;
}

.sidebar .btn-send{
    background-color: #1f73c9;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

/* Contenido principal */
.main-content {
    padding: 20px;
    margin-left: 200px;
}

.mail-table {
    width: 100%;
    border-collapse: collapse;
}

.mail-table th,.mail-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.mail-table th {
    background-color: #f0f0f0;
}

#logout{
    text-decoration: none;
    color: red;
    cursor: pointer;
}

        /* Estilos para el formulario */
        form {
            max-width: 400px;
            margin: 0 auto;
        }
        h2 {
            font-size: 1.5rem;
            margin-bottom: 10px;
        }
        .input-box {
            margin-bottom: 15px;
        }
        label {
            display: block;
            font-weight: bold;
        }
        input[type="number"],
        input[type="text"],
        textarea,
        select {
            width: 100%;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }
        button[type="submit"] {
            background-color: #007bff;
            color: #fff;
            border: none;
            padding: 10px 20px;
            border-radius: 4px;
            cursor: pointer;
        }
        button[type="submit"]:hover {
            background-color: #0056b3;
        }

/* styles.css */
.containerMensaje{
    border: 2px solid #000;
    border-radius: 10px;
    margin: 5%;
}
.nombre-remitente {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #000;
  }
  
  .asunto {
    text-align: center;
    font-size: 18px;
    color: #000;
  }
  
  .nro-memo {
    text-align: center;
    font-size: 16px;
    color: #000;
  }
  
  .mensaje {
    text-align: justify;
    margin:10%;
    font-size: 14px;
    line-height: 1.5;
    color: #000;
  }

  @media screen and (max-width: 768px) {
    .main-content {
        margin-left: 0; /* Elimina el margen izquierdo */
    }
    .sidebar{
        background-color: #333;
        position: relative;
        margin-top: 0px;
        color: #fff;
        padding: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100vh;
        height: 20px;
    }

    .sidebar ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
    }

    .sidebar li {
        margin-bottom: 0px;
        margin-left: 2vh;
    }

    .sidebar .btn-send{
        background-color: #1f73c9;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
    }

    .sidebar a {
        color: #fff;

        text-decoration: none;
    }
}