/* CSS (en styles.css) */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #333;
    color: #fff;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-right: 20px;
}

.logo img{
    width: 120px;
}

.nav-links {
    margin-left: auto;
}

.btn-logout {
    background-color: #fff;
    color: #333;
    border: none;
    padding: 0.5em 1em;
    cursor: pointer;
}

#adminH1{
    Color: #fff;
}
.sidebar {

    background-color: #333;
    padding: 1em;
    width: 200px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 130px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar li {
    margin-bottom: 1em;
}

.sidebar a {
    text-decoration: none;
    color: #fff;
}

.sidebar a.active {
    font-weight: bold;
}

.content {
    margin-left: 300px;
    padding: 1em;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #ddd;
    padding: 0.5em;
    text-align: left;
}

th {
    background-color: #f0f0f0;
}

.btn-edit,.btn-delete {
    background-color: #fff;
    color: #333;
    border: none;
    padding: 0.5em 1em;
    cursor: pointer;
}

.btn-edit {
    background-color: #4CAF50;
    color: #fff;
}

.btn-delete {
    background-color: #FF0000;
    color: #fff;
}

.btn-edit:hover {
    background-color: #348637;
    color: #fff;
}

.btn-delete:hover {
    background-color: #c90808;
    color: #fff;
}

 /* Estilos para el formulario */
 form {
    max-width: 400px;
    margin: 0 auto;
}
h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}
.input-box {
    margin-bottom: 15px;
}
label {
    display: block;
    font-weight: bold;
}
input[type="number"],
input[type="text"],
textarea,
select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}
button[type="submit"]:hover {
    background-color: #0056b3;
}

.btn-create{
    padding: 0.5em 1em;
    background-color: #4CAF50;
    color: #fff;
}

.containerMensaje{
    border: 2px solid #000;
    border-radius: 10px;
    margin: 5%;
}
.nombre-remitente {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #000;
  }
  
  .asunto {
    text-align: center;
    font-size: 18px;
    color: #000;
  }
  
  .nro-memo {
    text-align: center;
    font-size: 16px;
    color: #000;
  }
  
  .mensaje {
    text-align: justify;
    margin:10%;
    font-size: 14px;
    line-height: 1.5;
    color: #000;
  }
  