/* Estilos generales */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

/* Navbar */
.navbar {
    background-color: #333;
    color: #fff;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-right: 20px;
}

.logo img{
    width: 120px;
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input[type="search"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 200px;
}

.search-bar button[type="submit"] {
    background-color: #1f73c9;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.user-info {
    margin-left: 20px;
}

/* Sidebar */
.sidebar {
    background-color: #333;
    color: #fff;
    padding: 30px;
    width: 200px;
    height: 100vh;
    position: fixed;
    margin-top: 10%;
    top: 0;
    left: 0;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar li {
    margin-bottom: 40px;
}

.sidebar a {
    color: #fff;
    text-decoration: none;
}

.sidebar a.active {
    background-color: #1f73c9;
    padding: 10px;
    border-radius: 5px;
}

.sidebar .btn-send{
    background-color: #1f73c9;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

/* Contenido principal */
.main-content {
    padding: 20px;
    margin-left: 200px;
}

.mail-table {
    width: 100%;
    border-collapse: collapse;
}

.mail-table th,.mail-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.mail-table th {
    background-color: #f0f0f0;
}